<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       body {
        background-image: url('https://wallpapers.com/images/hd/fine-weather-landscape-iq9k6ubn8w9yhhkc.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
         opacity:2;
       }
        .centered {
    text-align: center;
  }
      .centered{
        position:absolute;
        top:50px;
        right:600px;
      }
  input[type="text"] {
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
    margin-right:px;
    position:absolute;
    right:240px;
    bottom:-70px;
  }
  button[type="submit"] {
    padding: 10px 20px; 
    background-color: #007BFF; 
    color:white; 
    border:none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
     position:absolute;
    right:110px;
    bottom:-70px;
  }
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
      .weather-info{
       
        width:850px;
        height:500px;
        position:absolute;
        left:550px;
        bottom:190px;
        background-image: url('https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
        background-size: cover; 
        background-repeat: no-repeat; 
         box-shadow: 0 10px 20px rgba(0.5, 0.2, 0, 0.4); 
  transform: translate(0.2, 0.9); 
  transition: transform 0.6s ease-in-out;
        
        
      }
      #sub{
        background-color: rgba(255, 255, 255, 0.2);
        width:400px;
        height:500px;
        position:absolute;
        left:450px;
        bottom:0px;
        
      }
      #tem{
        color:black;
        position:absolute;
        left:40px;
        bottom:-20px;
        font-size:89px;
        font-weight:6px;
      }
      #place{
         color:black;
        position:absolute;
        left:3px;
        bottom:350px;
        font-size:45px;
      }
      #con{
         color:black;
        position:absolute;
        left:40px;
        bottom:0px;
        font-size:34px;
        font-weight:4px;
      }
#hum{
        color:black;
        position:absolute;
        left:490px;
        bottom:330px;
        font-size:27px;
      }
 #wind{
        color:black;
        position:absolute;
        left:490px;
        bottom:270px;
        font-size:27px;
      }
  #mintem{
        color:black;
        position:absolute;
        left:490px;
        bottom:210px;
        font-size:27px;
      }
      #maxtem{
        color:black;
        position:absolute;
        left:490px;
        bottom:150px;
        font-size:27px;
      }
      #search{
        position:absolute;
        top:40%;
        left:60%;
        
      }
      #pressure{
        color:black;
        position:absolute;
        left:490px;
        bottom:90px;
        font-size:27px;
      }
.video-background {
    position: fixed;
    top:1;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    overflow:hidden;
}
video {
    position:absolute;
    top:1;
    left:0;
      width:100%;
    height:100%;
    object-fit:cover;
    z-index: -1;
}
.content {
    position:relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: #fff; 
}
.weather-info {
    background-image: url('https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
}
.weather-info.clear {
    background-image: url('https://www.thepost.uk.com/tindle-static/image/2023/05/22/17/sunset-g79edee57b_1920.jpg?width=669&height=445&crop=669:445');
}
.weather-info.rain {
    background-image: url('https://www.snexplores.org/wp-content/uploads/2019/11/860_main_rainstorm.gif'); 
 
}

.weather-info.clouds {
    background-image: url('https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
}

    </style>
    <title>Weather Information</title>
</head>
<body>
   <form method="POST" action="/Dweather" class="centered">
   

  <div class="video-background">
    <video autoplay muted loop>
        <source src="https://player.vimeo.com/external/316506213.sd.mp4?s=5cbb4c572719f6e5720468f2fbe231f729a52efc&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
    </video>
    
   <div class="weather-info ">
        <h2 id="place">&#x1F4CD;<%= City %> | <%= Country %></h2>
          <center id="search"><input type="text" name="city" placeholder="Enter a city">
  <button type="submit">Submit</button></center>
</form>  
        <p id="tem"><%= (Temperature ) %>°C</p>
          <div id="feat">
        <b><p id="hum"> Humidity - <%= Humidity %> %</p>
        <p id="wind">Wind Speed - <%= Wind %> m/s</p><br>
          <p id="mintem">Min Temp - <%= MinTemp %>°C</p><br>
        <p id="maxtem">Max Temp - <%= MaxTemp %>°C</p><br>
        <p id="pressure">Pressure - <%= Pressure %> hPa</p></b>
          </div>
          <div id="con">
        <% if (Condition === 'Clear') { %>
            <p>Mostly Sunny☀️</p>
           <% } else if (Condition === 'Rain') { %>
           <p>Mostly Rainy 🌧️</p>
        <% } else if (Condition === 'Clouds') { %>
           <p>Mostly Cloudy ☁️</p>
        <% } else { %>
        <p>Weather condition: <%= Condition %></p>
       <% } %></div>

          <div id="sub">
          </div>
    </div>
   
</body>
</html>
